<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 style="color: white;">Portfolio</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="portfolio-intro">
      <div class="portfolio-title">
        신용 정보 데이터 분석 기반<br>
        <span class="title-main">신용평가 모형 추출 및 시각화</span>
      </div>

    </div>
    <div class="portfolio-flex-row">
      {% for post in site.posts %}
      <div id="portfolio-box" class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
        </a>
        <div class="project-title">{{ post.title }}</div>
      </div>
      {% endfor %}
    </div>
    <div class="portfolio-comment">
      <div class="portfolio-target">
        신용평가 모형 기여 시스템 개발
      </div>
      <div class="portfolio-content">
        1) 대량의 금융정보를 수집하여 대출 상품 및 금융 상품에 추천되는 데이터 분석 및 정제<br>
      </div>
      <div class="portfolio-content">
        2) 신용평가 분석 자료를 생성하고 신용평가모형의 필요 항목 도출 후 시각화
      </div>
    </div>
  </div>
</section>