<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="modal-container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
          <div class="Item_container">
            <div class="wi wi0 visible">
            <div class="Item_wrap">
              <div class="IMG_wrap">
                  <div class="IMG_main" onclick="mainImgClick(0,0)"><img
                          src='/img/project/0_0.png' alt='프로젝트 이미지'></div>
                  <div class="IMG_sub_wrap">
                      <div class="IMG_sub active" onclick="subImgClick(0,0)"><img
                              src='/img/project/0_0.png' alt='프로젝트 이미지'></div>
                      <div class="IMG_sub" onclick="subImgClick(0,1)"><img
                              src='/img/project/0_1.png' alt='프로젝트 이미지'></div>
                      <div class="IMG_sub" onclick="subImgClick(0,2)"><img 
                              src='/img/project/0_2.png' alt='프로젝트 이미지'></div>
                      <div class="IMG_sub" onclick="subImgClick(0,3)"><img
                              src='/img/project/0_3.png' alt='프로젝트 이미지'></div>
                      <div class="IMG_sub" onclick="subImgClick(0,4)"><img
                              src='/img/project/0_4.png' alt='프로젝트 이미지'></div>
                  </div>
              </div>
              <div class="info_wrap">
                  <div class="info_title">JongYeon's 개발 블로그</div>
                  <div class="info_sub">7인 팀 프로젝트</div>
                  <div class="info_sub">2023.02.20 ~ 2023.03.06 개발 2주</div>
                  <div class="info_main">소개 <span onclick="moreButtonClick(0)">더보기</span>
                      <div class="more_wrap">
                          <p>···</p>
                          소개2
                      </div>
                  </div>
                  <ul class="tag_wrap">
                      <li class="hashtag">#Spring Legacy</li>
                      <li class="hashtag">#JPA</li>
                      <li class="hashtag">#Mybatis</li>
                      <li class="hashtag">#게시판 CRUD</li>
                  </ul>
                  <div class="button_wrap">
                      <a href="https://github.com/kimjy97/devBlog" target="_black">
                          <div class="more">GitHub</div>
                      </a>
                  </div>
              </div>
              <div class="sizeUP">
                <div class="top">
                    <div class="close-size"></div>
                </div>
                <div class="ct"></div>
              </div>
          </div>
          </div>
        </div>
            <ul class="list-inline item-details">
              <!-- <div class="text-center">
      <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
      <i class="fa fa-download"></i> Github
        </a>
    </div> -->
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %}
