<!-- Contact Section -->
<section id="skill">
  <div class="stacks_container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>SKILLS</h2>
        <hr class="star-primary">
      </div>
    </div>

    <div id="frontendStack" class="stacks_wrap">
      <div class="subTitle">
        <span># FRONT-END</span>
      </div>

      <div class="stack_container">
        <div class="stack-box">
          <img src="img/stack_icon/html5.png" alt="HTML5">
          <p class="stack-title">HTML5</p>
        </div>
        <div class="stack-box">
          <img src="img/stack_icon/css3.png" alt="CSS3">
          <p class="stack-title">CSS3</p>
        </div>
        <div class="stack-box">
          <img src="img/stack_icon/js.png" alt="JS">
          <p class="stack-title">Javascript</p>
        </div>
        <div class="stack-box">
          <img src="img/stack_icon/reactjs.png" alt="React.js">
          <p class="stack-title">React</p>
        </div>
        
      </div>
    </div>

    <div id="backendStack" class="stacks_wrap">
      <div class="subTitle">
        <span># BACK-END</span>
      </div>

      <div class="stack_container">
        <div class="stack-box">
          <img src="img/stack_icon/java.png" alt="HTML5">
          <p class="stack-title">JAVA</p>
        </div>
        <div class="stack-box">
          <img src="img/stack_icon/jsp.png" alt="React.js">
          <p class="stack-title">JSP</p>
        </div>
        <div class="stack-box">
          <img src="img/stack_icon/python.png" alt="CSS3">
          <p class="stack-title">Python</p>
        </div>
      </div>
      <div class="stack_container">
        <div class="stack-box">
          <img src="img/stack_icon/jpa.png" alt="JS">
          <p class="stack-title">JPA</p>
        </div>
        <div class="stack-box">
          <img src="img/stack_icon/mybatis.png" alt="HTML5">
          <p class="stack-title">Mybatis</p>
        </div>
        <div class="stack-box">
          <img src="img/stack_icon/spring.png" alt="React.js">
          <p class="stack-title">Spring</p>
        </div>
        <div class="stack-box">
          <img src="img/stack_icon/nodejs.png" alt="JS">
          <p class="stack-title">Node.js</p>
        </div>
      </div>
    </div>

    <div id="backendStack" class="stacks_wrap">
      <div class="subTitle">
        <span># ETC</span>
      </div>

      <div class="stack_container">
        <div class="stack-box">
          <img src="img/stack_icon/oracle.png" alt="HTML5">
          <p class="stack-title">Oracle</p>
        </div>
        <div class="stack-box">
          <img src="img/stack_icon/elk.png" alt="React.js">
          <p class="stack-title">ElasticSearch</p>
        </div>
        <div class="stack-box">
          <img src="img/stack_icon/git.png" alt="React.js">
          <p class="stack-title">Git</p>
        </div>
        <div class="stack-box">
          <img src="img/stack_icon/postman.png" alt="React.js">
          <p class="stack-title">Postman</p>
        </div>
        <div class="stack-box">
          <img src="img/stack_icon/boot.png" alt="React.js">
          <p class="stack-title">BootStrap</p>
        </div>
      </div>
    </div>

</section>